<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-4.0.xsd  
	http://www.springframework.org/schema/aop  
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx  
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/jdbc  
	http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd">
	
	<context:component-scan base-package="com.**.dao.impl,com.cdc.common.exception.**" />
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		  p:basePackage="com.**.dao"
		  p:sqlSessionFactoryBeanName="sqlSessionFactory" />
	<!-- 加载文件服务配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="2" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
    	<property name="ignoreResourceNotFound" value="true"/>  
        <property name="locations">
	        <list>
	        	<value>file:${CONFIG_PATH}zkConfig/basic-config.properties</value>
				<value>classpath:mall-dubbo.properties</value>
				<value>file:${CONFIG_PATH}redisConfig/redis.properties</value>
	        </list>
        </property>
    </bean>
	
	<import resource="classpath:spring/spring-mall-transaction.xml"/>
	<import resource="classpath:spring/spring-mall-redis.xml" />
	<import resource="classpath:spring/spring-mall-api.xml"/>
</beans>